.button {
  width: 140px;
  height: 45px;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.outlineCircle {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.fillCircle {
  width: 12px;
  height: 12px;
  border-radius: 25px;
  background-color: #444;
}
.button:hover {
  background-color: rgba(195, 223, 236, 0.534);
}
